<h1>LOGIN!</h1>


<div class="login-form">
<form action="/auth/login" method="POST">

<div class="input-field">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" required>
</div>

<div class="input-field">
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required>
</div>

<button class="btn waves-effect waves-light" type="submit">Login</button>


</form>
</div>