<header>
  <nav class="nav-bar">
    <a href="/"><div class="nav-link">Home</div></a>
    <a href="/auth/login"><div class="nav-link">Login</div></a>
    <a href="/auth/signup"><div class="nav-link">Sign Up</div></a>
  </nav>
</header>