<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Auth Boilerplate</title>

    <!-- Materialize CSS -->
      <link rel="stylesheet" href="/css/materialize.min.css" type="text/css">
  <!-- <link rel="stylesheet" href="/css/normalize.css" type="text/css"> -->
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>

  <% include ./partials/header.ejs %> 

  <div class="container">
    <%- body %>
  </div>
     <!-- Materialize JS -->
     <script src="/js/materialize.min.js"></script> 
</body>
</html>