.nav-wrapper {
  padding: 0 10px;
}

.form-container {
  max-width: 800px;
  margin: 10px auto;
}

.hidden {
  display: none;
  visibility: hidden;
}

div.selects-container .select-month input {
  width: 100px;
}